* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  float: right;
  width: 40%;
  height: 300px; /* only for demonstration, should be removed */
  background: #White;
  padding: 20px;
}

article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: #white;
  height: 1100px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer Measurements */
footer {
  background-color: #e8e8e8;
  padding: 50px;
  width: 100%;
  text-align: left;
  color: white;
}

a:link {
  color: white;
}

a:hover {
  color: blue;
}
