@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
	/*page deafaults*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

nav{
	overflow: hidden;
	width: 100%;
	height: 80px;
	background-color: dimgray;
}

ul li{
	float: left;
	line-height: 80px;
}

ul li a{
	display: block;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding: 0px 20px;
}

ul li a:hover {
	background-color: #505050;
	color: white;
  transition: all 0.5s ease 0s;
}

.logo{
	font-family: 'Satisfy', cursive;
	font-size: 40px;
	color: mediumblue;
}

.login{
	float: right;
}

footer{
	overflow: hidden;
	width: 100%;
	height: 80px;
	background-color: dimgray;
	position: fixed;
	left: 0;
	bottom: 0;
}
