
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
/* Footer Measurements */
footer {
    background-color: #e8e8e8;
    padding: 50px;
    width: 100%;
    text-align: left;
    color: white;
}
