h1 {
  font-family: 'Open Sans', sans-serif;
}

label {
  display: inline-block;
  margin-top: 10px;
}

form {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

input[type=text] {
  display: block;
  /* border: solid 1px #4d3a24; */
  width: 250px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 24px;
}

textarea {
  display: block;
  border: solid 1px #4d3a24;
  width: 100%;
  margin-bottom: 10px;
}

.text-line {
  background-color: transparent;
  /* color: #eeeeee; */
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #000000 1px;
  padding: 4px 10px;
}

.redText {
  color: red;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.error {
  color: red;
}

.feedText {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
/* This is just here temporarily*/
